image: python:3.12

mypy:
    stage: test
    script:
        - pip install uv
        - uv install --all-extras
        - uv run mypy --strict syng

ruff:
    stage: test
    script:
        - pip install ruff --quiet
        - ruff check syng
