[Desktop Entry]
Version=1.0
Type=Application

# Name=rocks.syng.Syng
Name=Syng

Comment=A all-in-one karaoke player

Exec=/home/christoph/vcs/syng2/.venv/bin/syng
Icon=rocks.syng.Syng
