<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
    <Package Language="1033"
             Manufacturer="Syng.Rocks!"
             Name="Syng.Rocks! Karaoke Player"
             Scope="perUserOrMachine"
             UpgradeCode="092e7e0b-5042-47a1-9673-544d9722f8df"
             ProductCode="*"
             Version="2.1.0">
        <MediaTemplate EmbedCab="yes" />
        <MajorUpgrade DowngradeErrorMessage="A later version of [ProductName] is already installed. Setup will now exit." />
        <ui:WixUI Id="WixUI_InstallDir" InstallDirectory="INSTALLFOLDER" />
        <WixVariable Id="WixUILicenseRtf" Value="agpl-3.0.rtf" />
        <Icon Id="syng.ico" SourceFile="..\syng.ico"/>
        <Property Id="ARPPRODUCTICON" Value="syng.ico" />
        <StandardDirectory Id="ProgramFilesFolder">
            <Directory Id="INSTALLFOLDER" Name="syng">
                <Component Id="ProductComponent">
                    <File KeyPath="yes" Source="syng\syng.exe" Name="syng.exe"></File>
                    <Shortcut Id="startmenuShortcut"
                              Directory="ProgramMenuDir"
                              Name="Syng.Rocks! Karaoke Player"
                              WorkingDirectory='INSTALLFOLDER'
                              Icon="syng.ico"
                              IconIndex="0"
                              Advertise="yes" />
                    <Shortcut Id="UninstallProduct"
                            Name="Uninstall Syng.Rocks! Karaoke Player"
                            Target="[SystemFolder]msiexec.exe"
                            Arguments="/x [ProductCode]"
                            Description="Uninstalls Syng" />
                    <Shortcut Id="desktopShortcut"
                              Directory="DesktopFolder"
                              Name="Syng.Rocks! Karaoke Player"
                              WorkingDirectory='INSTALLFOLDER'
                              Icon="syng.ico"
                              IconIndex="0"
                              Advertise="yes" />
                </Component>
                <Directory Id="DataDir" Name="data">
                </Directory>
            </Directory>
        </StandardDirectory>
        <ComponentGroup Id="DataFiles" Directory="DataDir">
          <Files Include="syng\data\**">
            <Exclude Files="syng\syng.exe" />
          </Files>
        </ComponentGroup>
        <StandardDirectory Id="ProgramMenuFolder">
            <Directory Id="ProgramMenuDir" Name="syng"/>
        </StandardDirectory>
        <StandardDirectory Id="DesktopFolder"/>
        <Feature Id="syng">
            <ComponentRef Id="ProductComponent" />
            <ComponentGroupRef Id="DataFiles" />
        </Feature></Package>
</Wix>
